<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <%= image_tag "icon-healing.png", height:"45" %>  
  <button id="log-in-btn" class="btn-primary pull-right">Log in</button>
  <button id="create-btn" class="btn-primary pull-right">Sign up</button>
  <button id="log-out-btn" class="btn-primary pull-right" style="display:none">Log out</button>
</nav>
<header class="jumbotron">
<div class="row">
    <div class="img"></div>
<div class="col-md-7 col-xs-7">
  <div class="container">
      <h1>Fitness Guru</h1>
      <p>Your guru for all things fitness</p>
  </div>
</div>
<div class="col-md-5 col-xs-5">
  <%= image_tag "icon-healing.png", height:"300" %>  
</div>
</div>
</header>